@import "variables";
@import "common";
@import "swiper.css";

.wrapper{
	margin: 50px auto;
	width: 80%;
	text-align: center;
	#btn{
		margin: 0 auto;
	}
	#para{
		padding: 10px 20px;
		border: 1px solid #ccc;
		border-radius:  $base-radius;
	}
}